body{
    background-color: #1f1f1f;;
}

h1{
    color: #ffffff;
    text-align: center;
    margin-top: 50px;
}

p{
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}